.container {
    padding: 10px 40px;
}

.dynamic-title {
    line-height: 1.0;
    color: #666666;
    text-align: center;
}

.list-group-item {
    margin-bottom: 40px;
    border: 1px solid #c0d3eb;
    padding: 0px;
    border-radius: 6px;
    position: relative;
    width: 800px;
    height:auto;
}

.list-group-item:not(:last-child)::after {
    position: absolute;
    top: 0;
    bottom: -40px;
    left: 15px;
    display: block;
    width: 2px;
    content: "";
    background-color: #e1e4e8;
    z-index: -1;
}

.list-group-item-date {
    font-size: 90%;
    background-color: #f1f8ff;
    border-bottom: 1px solid #c0d3eb;
    color: #000;
    padding: 5px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative;
    z-index: 1;
}

.list-group-item-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    width:600px;
}